@model DavidsMusic.Models.Products
@{
	ViewData["Title"] = "Products Page";
}

<section class="bg-dark p-0 m-0">
	<header class="pages">@Model.Brand @Model.Type</header>
</section>

<div class="row mutedbackground p-0 m-0">
	<div class="col-4">

		<img src="@Model.ImageUrl" alt="@Model.Brand" class="img-fluid" />
	</div>
	<div class="col-8">
		<dl>
			<dt>Item</dt>
			<dd>@Model.Type</dd>
			<dd>@Model.Brand  (item number: @Model.StockNumber)</dd>
			<dt>Description</dt>
			<dd>@Model.Description</dd>
			<dt>Cost</dt>
			<dd>@Model.UnitPrice.ToString("c")</dd>
			<dt></dt>
			<dd>

			</dd>
		</dl>
		<form asp-action="index" asp-controller="products" method="post">
			<input type="hidden" name="id" value="@Model.ID" />
			<input type="submit" value="Add to Cart" />
		</form>
		<br />
		<div class="reviewPain">
			<h4>Reviews</h4>
			@if (Model.Reviews != null && Model.Reviews.Any())
			{
				@foreach (var review in Model.Reviews)
				{
					<blockquote>
						@review.Body - @review.Rating
					</blockquote>
				}
			}
		</div>
	</div>
</div>